USE [CATEHUR]
GO
/****** Object:  User [IIS APPPOOL\.NET v4.5]    Script Date: 01/16/2018 01:11:30 ******/
CREATE USER [IIS APPPOOL\.NET v4.5] FOR LOGIN [IIS APPPOOL\.NET v4.5]
GO
/****** Object:  Table [dbo].[Vajilla]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vajilla](
	[id_Vajilla] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionVajilla] [nvarchar](max) NOT NULL,
	[CantidadVajilla] [int] NOT NULL,
 CONSTRAINT [PK_Vajilla] PRIMARY KEY CLUSTERED 
(
	[id_Vajilla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vajilla] ON
INSERT [dbo].[Vajilla] ([id_Vajilla], [DescripcionVajilla], [CantidadVajilla]) VALUES (1, N'Plato', 9498)
INSERT [dbo].[Vajilla] ([id_Vajilla], [DescripcionVajilla], [CantidadVajilla]) VALUES (2, N'Tenedor', 9498)
INSERT [dbo].[Vajilla] ([id_Vajilla], [DescripcionVajilla], [CantidadVajilla]) VALUES (3, N'Cuchillo', 9498)
SET IDENTITY_INSERT [dbo].[Vajilla] OFF
/****** Object:  Table [dbo].[Bebida]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebida](
	[id_bebida] [int] IDENTITY(1,1) NOT NULL,
	[nombreBebida] [nvarchar](max) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Habilitado] [int] NULL,
 CONSTRAINT [PK_Bebida] PRIMARY KEY CLUSTERED 
(
	[id_bebida] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bebida] ON
INSERT [dbo].[Bebida] ([id_bebida], [nombreBebida], [Precio], [Habilitado]) VALUES (1, N'Mate cocido, té, leche chocolatada, cafe con leche, jugo de naranja', CAST(20 AS Decimal(18, 0)), 1)
INSERT [dbo].[Bebida] ([id_bebida], [nombreBebida], [Precio], [Habilitado]) VALUES (2, N'Cafe, té o Chocolate', CAST(10 AS Decimal(18, 0)), 1)
INSERT [dbo].[Bebida] ([id_bebida], [nombreBebida], [Precio], [Habilitado]) VALUES (3, N'Jugos de Frutas Frios', CAST(15 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Bebida] OFF
/****** Object:  Table [dbo].[EstadoEvento]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEvento](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstadoEvento] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoEvento] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadoEvento] ON
INSERT [dbo].[EstadoEvento] ([id_estado], [NombreEstadoEvento]) VALUES (1, N'A espera de aprobacion')
INSERT [dbo].[EstadoEvento] ([id_estado], [NombreEstadoEvento]) VALUES (2, N'Compra de productos')
INSERT [dbo].[EstadoEvento] ([id_estado], [NombreEstadoEvento]) VALUES (3, N'Platos Armados')
SET IDENTITY_INSERT [dbo].[EstadoEvento] OFF
/****** Object:  Table [dbo].[Idioma]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[LANG_ID] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[DV] [int] NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LANG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Idioma] ([LANG_ID], [name], [DV]) VALUES (1, N'Español', NULL)
INSERT [dbo].[Idioma] ([LANG_ID], [name], [DV]) VALUES (2, N'English', NULL)
/****** Object:  Table [dbo].[Catering]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catering](
	[id_catering] [int] IDENTITY(1,1) NOT NULL,
	[NombreCatering] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Catering] PRIMARY KEY CLUSTERED 
(
	[id_catering] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catering] ON
INSERT [dbo].[Catering] ([id_catering], [NombreCatering]) VALUES (1, N'Breakfast')
INSERT [dbo].[Catering] ([id_catering], [NombreCatering]) VALUES (2, N'Fiestas')
INSERT [dbo].[Catering] ([id_catering], [NombreCatering]) VALUES (3, N'Brunch')
SET IDENTITY_INSERT [dbo].[Catering] OFF
/****** Object:  Table [dbo].[Empleado]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[Domicilio] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[idTipoEmpleado] [int] NOT NULL,
	[DescripcionTipoEmpleado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [email], [Domicilio], [Telefono], [idTipoEmpleado], [DescripcionTipoEmpleado]) VALUES (1, N'Mariano', N'Marcovecchio', N'mariano88m@gmail.com', N'Av Roca 1582', N'4662-2506', 1, N'Administrador')
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [email], [Domicilio], [Telefono], [idTipoEmpleado], [DescripcionTipoEmpleado]) VALUES (2, N'Aldana Celeste', N'Figoli', N'AldanaPluton@gmail.com', N'Posadas 1278', N'4678-9085', 2, N'Coordinador')
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Apellido], [email], [Domicilio], [Telefono], [idTipoEmpleado], [DescripcionTipoEmpleado]) VALUES (3, N'Pedro', N'Picapiedra', N'PPicapiedra@gmail.com', N'Av. Corrientes 678 ', N'4873-6843', 3, N'Cocinero')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
/****** Object:  Table [dbo].[DDVVV]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDVVV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[DDVVV] [nvarchar](150) NULL,
 CONSTRAINT [PK_DDVVV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DDVVV] ON
INSERT [dbo].[DDVVV] ([ID], [Descripcion], [DDVVV]) VALUES (1, N'Usuario', N'40954')
INSERT [dbo].[DDVVV] ([ID], [Descripcion], [DDVVV]) VALUES (2, N'Evento', N'31381')
SET IDENTITY_INSERT [dbo].[DDVVV] OFF
/****** Object:  Table [dbo].[Localidad]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreLocalidad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON
INSERT [dbo].[Localidad] ([id_localidad], [NombreLocalidad]) VALUES (1, N'Hurlingham')
INSERT [dbo].[Localidad] ([id_localidad], [NombreLocalidad]) VALUES (2, N'Moron')
INSERT [dbo].[Localidad] ([id_localidad], [NombreLocalidad]) VALUES (3, N'William Morris')
SET IDENTITY_INSERT [dbo].[Localidad] OFF
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[id_ingrediente] [int] IDENTITY(1,1) NOT NULL,
	[NombreIngrediente] [nvarchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[id_ingrediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ingrediente] ON
INSERT [dbo].[Ingrediente] ([id_ingrediente], [NombreIngrediente], [Precio]) VALUES (1, N'Medialuna', CAST(4.00 AS Decimal(10, 2)))
INSERT [dbo].[Ingrediente] ([id_ingrediente], [NombreIngrediente], [Precio]) VALUES (2, N'Factura', CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[Ingrediente] ([id_ingrediente], [NombreIngrediente], [Precio]) VALUES (3, N'Masitas', CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
/****** Object:  Table [dbo].[Permiso]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON
INSERT [dbo].[Permiso] ([ID], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Permiso] ([ID], [Descripcion]) VALUES (2, N'Coordinador')
INSERT [dbo].[Permiso] ([ID], [Descripcion]) VALUES (3, N'Cocinero')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
/****** Object:  Table [dbo].[TipoMenu]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMenu](
	[id_TipoMenu] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoMenu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoMenu] PRIMARY KEY CLUSTERED 
(
	[id_TipoMenu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoMenu] ON
INSERT [dbo].[TipoMenu] ([id_TipoMenu], [NombreTipoMenu]) VALUES (1, N'Entrada')
INSERT [dbo].[TipoMenu] ([id_TipoMenu], [NombreTipoMenu]) VALUES (2, N'Plato Principal')
INSERT [dbo].[TipoMenu] ([id_TipoMenu], [NombreTipoMenu]) VALUES (3, N'Postre')
SET IDENTITY_INSERT [dbo].[TipoMenu] OFF
/****** Object:  Table [dbo].[Plato]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plato](
	[id_plato] [int] IDENTITY(1,1) NOT NULL,
	[nombrePlato] [nvarchar](max) NOT NULL,
	[id_tipoMenu] [int] NOT NULL,
	[ManoDeObra] [money] NOT NULL,
	[Habilitado] [int] NULL,
 CONSTRAINT [PK_Plato] PRIMARY KEY CLUSTERED 
(
	[id_plato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Plato] ON
INSERT [dbo].[Plato] ([id_plato], [nombrePlato], [id_tipoMenu], [ManoDeObra], [Habilitado]) VALUES (8, N'Medialunas, Facturas , Masitas dulces y Saladas, Galletitas y tostadas', 1, 130.0000, 1)
INSERT [dbo].[Plato] ([id_plato], [nombrePlato], [id_tipoMenu], [ManoDeObra], [Habilitado]) VALUES (10, N'Tostadas, Mermeladas', 1, 30.0000, 1)
INSERT [dbo].[Plato] ([id_plato], [nombrePlato], [id_tipoMenu], [ManoDeObra], [Habilitado]) VALUES (11, N'Huevos, Tostadas, Panes, Manteca, Mermelada', 1, 70.0000, 1)
SET IDENTITY_INSERT [dbo].[Plato] OFF
/****** Object:  Table [dbo].[Per_Per]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Per_Per](
	[Cod_Padre] [int] NOT NULL,
	[Cod_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_Per_Per] PRIMARY KEY CLUSTERED 
(
	[Cod_Padre] ASC,
	[Cod_Hijo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Per_Per] ([Cod_Padre], [Cod_Hijo]) VALUES (1, 5)
INSERT [dbo].[Per_Per] ([Cod_Padre], [Cod_Hijo]) VALUES (1, 6)
INSERT [dbo].[Per_Per] ([Cod_Padre], [Cod_Hijo]) VALUES (1, 7)
/****** Object:  Table [dbo].[IdiomaControl]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdiomaControl](
	[page] [nvarchar](50) NOT NULL,
	[namecontrol] [nvarchar](50) NOT NULL,
	[LANG_ID] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
	[CTRL_TOOLTIP] [nvarchar](50) NULL,
 CONSTRAINT [PK_Control] PRIMARY KEY CLUSTERED 
(
	[page] ASC,
	[namecontrol] ASC,
	[LANG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IdiomaControl] ([page], [namecontrol], [LANG_ID], [text], [CTRL_TOOLTIP]) VALUES (N'AsignarPersonal_aspx', N'btn_asignarEmpleado', 1, N'Asignar Empleado', NULL)
INSERT [dbo].[IdiomaControl] ([page], [namecontrol], [LANG_ID], [text], [CTRL_TOOLTIP]) VALUES (N'AsignarPersonal_aspx', N'btn_asignarEmpleado', 2, N'Assign Employee', NULL)
INSERT [dbo].[IdiomaControl] ([page], [namecontrol], [LANG_ID], [text], [CTRL_TOOLTIP]) VALUES (N'AsignarPersonal_aspx', N'btn_cerrarSesion', 1, N'Cerrar sesion', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
/****** Object:  Table [dbo].[Cliente]    Script Date: 01/16/2018 01:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [nvarchar](max) NOT NULL,
	[DNI] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[id_localidad] [int] NOT NULL,
	[DadoDeBaja] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON
INSERT [dbo].[Cliente] ([IdCliente], [NombreCliente], [DNI], [Direccion], [Email], [Telefono], [id_localidad], [DadoDeBaja]) VALUES (1, N'1111', N'111', N'1111', N'1111', N'1111', 1, 1)
INSERT [dbo].[Cliente] ([IdCliente], [NombreCliente], [DNI], [Direccion], [Email], [Telefono], [id_localidad], [DadoDeBaja]) VALUES (2, N'2', N'2', N'2', N'2', N'2', 1, 1)
INSERT [dbo].[Cliente] ([IdCliente], [NombreCliente], [DNI], [Direccion], [Email], [Telefono], [id_localidad], [DadoDeBaja]) VALUES (3, N'Juan Perez', N'3312412412', N'belgrano 1234', N'jperez@gmail.com', N'12314132', 1, 0)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[IdEmpleado] [int] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[IntentosFallidos] [int] NULL,
	[Bloqueado] [int] NULL,
	[DadoDeBaja] [int] NULL,
	[DDVVH] [bigint] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([IdUsuario], [Contraseña], [IdEmpleado], [Username], [IntentosFallidos], [Bloqueado], [DadoDeBaja], [DDVVH]) VALUES (1, N'7110EDA4D09E062AA5E4A390B0A572AC0D2C0220', 1, N'Mariano', 0, 0, 0, 1779)
INSERT [dbo].[Usuario] ([IdUsuario], [Contraseña], [IdEmpleado], [Username], [IntentosFallidos], [Bloqueado], [DadoDeBaja], [DDVVH]) VALUES (5, N'7110EDA4D09E062AA5E4A390B0A572AC0D2C0220', 2, N'Aldana', 0, 0, 0, 1880)
INSERT [dbo].[Usuario] ([IdUsuario], [Contraseña], [IdEmpleado], [Username], [IntentosFallidos], [Bloqueado], [DadoDeBaja], [DDVVH]) VALUES (6, N'7110EDA4D09E062AA5E4A390B0A572AC0D2C0220', 3, N'ppicapiedra', 0, 0, 0, 1903)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[TipoMenuXCatering]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMenuXCatering](
	[id_Catering] [int] NOT NULL,
	[id_TipoMenu] [int] NOT NULL,
 CONSTRAINT [PK_TipoMenuXCatering] PRIMARY KEY CLUSTERED 
(
	[id_Catering] ASC,
	[id_TipoMenu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TipoMenuXCatering] ([id_Catering], [id_TipoMenu]) VALUES (1, 1)
INSERT [dbo].[TipoMenuXCatering] ([id_Catering], [id_TipoMenu]) VALUES (1, 4)
INSERT [dbo].[TipoMenuXCatering] ([id_Catering], [id_TipoMenu]) VALUES (2, 1)
/****** Object:  Table [dbo].[BebidaXCatering]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BebidaXCatering](
	[id_bebida] [int] NOT NULL,
	[id_catering] [int] NOT NULL,
 CONSTRAINT [PK_BebidaXCatering] PRIMARY KEY CLUSTERED 
(
	[id_bebida] ASC,
	[id_catering] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BebidaXCatering] ([id_bebida], [id_catering]) VALUES (1, 1)
INSERT [dbo].[BebidaXCatering] ([id_bebida], [id_catering]) VALUES (1, 4)
INSERT [dbo].[BebidaXCatering] ([id_bebida], [id_catering]) VALUES (2, 1)
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[IdUsuario] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioPermiso] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [ID]) VALUES (1, 1)
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [ID]) VALUES (1, 74)
INSERT [dbo].[UsuarioPermiso] ([IdUsuario], [ID]) VALUES (5, 2)
/****** Object:  Table [dbo].[PlatoXCatering]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatoXCatering](
	[id_catering] [int] NOT NULL,
	[id_plato] [int] NOT NULL,
 CONSTRAINT [PK_PlatoXCatering] PRIMARY KEY CLUSTERED 
(
	[id_catering] ASC,
	[id_plato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PlatoXCatering] ([id_catering], [id_plato]) VALUES (1, 8)
INSERT [dbo].[PlatoXCatering] ([id_catering], [id_plato]) VALUES (1, 10)
INSERT [dbo].[PlatoXCatering] ([id_catering], [id_plato]) VALUES (1, 11)
/****** Object:  Table [dbo].[Bitacora]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[InfoAccion] [nvarchar](50) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON
INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [Fecha], [Accion], [InfoAccion], [Categoria]) VALUES (1704, 1, CAST(0x0000A83100D71D31 AS DateTime), N'Ingreso al Sistema', N'Ingreso Correcto', N'1')
INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [Fecha], [Accion], [InfoAccion], [Categoria]) VALUES (1705, 1, CAST(0x0000A83100D82F86 AS DateTime), N'Ingreso al Sistema', N'Ingreso Correcto', N'1')
INSERT [dbo].[Bitacora] ([id_bitacora], [id_usuario], [Fecha], [Accion], [InfoAccion], [Categoria]) VALUES (1706, 26, CAST(0x0000A83100F4BD83 AS DateTime), N'Ingreso al Sistema', N'Ingreso Correcto', N'1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
/****** Object:  Table [dbo].[Evento]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[DireccionEvento] [nvarchar](max) NOT NULL,
	[id_catering] [int] NOT NULL,
	[CantPersonas] [int] NOT NULL,
	[FechaEvento] [date] NOT NULL,
	[PrecioTotalEvento] [decimal](18, 0) NOT NULL,
	[id_estado] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[nombreEvento] [nvarchar](max) NOT NULL,
	[Reserva] [decimal](18, 0) NULL,
	[DDVVH] [bigint] NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Evento] ON
INSERT [dbo].[Evento] ([id_evento], [idCliente], [DireccionEvento], [id_catering], [CantPersonas], [FechaEvento], [PrecioTotalEvento], [id_estado], [Comentario], [nombreEvento], [Reserva], [DDVVH]) VALUES (44, 3, N'Av Corrientes 5400', 2, 30, CAST(0x963D0B00 AS Date), CAST(27450 AS Decimal(18, 0)), 5, N'Prueba123', N'Mi cumple 30', CAST(25000 AS Decimal(18, 0)), 1856)
INSERT [dbo].[Evento] ([id_evento], [idCliente], [DireccionEvento], [id_catering], [CantPersonas], [FechaEvento], [PrecioTotalEvento], [id_estado], [Comentario], [nombreEvento], [Reserva], [DDVVH]) VALUES (45, 3, N'Av Peron 100', 2, 100, CAST(0x9E3D0B00 AS Date), CAST(8750000 AS Decimal(18, 0)), 5, N'Juan', N'Cumple44', CAST(5000000 AS Decimal(18, 0)), 1795)
INSERT [dbo].[Evento] ([id_evento], [idCliente], [DireccionEvento], [id_catering], [CantPersonas], [FechaEvento], [PrecioTotalEvento], [id_estado], [Comentario], [nombreEvento], [Reserva], [DDVVH]) VALUES (46, 8, N'av Prueba 123', 2, 100, CAST(0x943D0B00 AS Date), CAST(95000 AS Decimal(18, 0)), 1, N'dfdf', N'Cumple 50', CAST(0 AS Decimal(18, 0)), 1853)
SET IDENTITY_INSERT [dbo].[Evento] OFF
/****** Object:  Table [dbo].[IngredienteXPlato]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredienteXPlato](
	[id_plato] [int] NOT NULL,
	[id_ingrediente] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_IngredienteXPlato] PRIMARY KEY CLUSTERED 
(
	[id_plato] ASC,
	[id_ingrediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IngredienteXPlato] ([id_plato], [id_ingrediente], [Cantidad]) VALUES (8, 1, 3)
INSERT [dbo].[IngredienteXPlato] ([id_plato], [id_ingrediente], [Cantidad]) VALUES (8, 2, 3)
INSERT [dbo].[IngredienteXPlato] ([id_plato], [id_ingrediente], [Cantidad]) VALUES (8, 3, 6)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[PlatoXEvento]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatoXEvento](
	[id_plato] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
 CONSTRAINT [PK_PlatoXEvento] PRIMARY KEY CLUSTERED 
(
	[id_plato] ASC,
	[id_evento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PlatoXEvento] ([id_plato], [id_evento]) VALUES (8, 54)
INSERT [dbo].[PlatoXEvento] ([id_plato], [id_evento]) VALUES (10, 55)
INSERT [dbo].[PlatoXEvento] ([id_plato], [id_evento]) VALUES (10, 56)
/****** Object:  Table [dbo].[EmpleadoXEvento]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadoXEvento](
	[idEmpleado] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
 CONSTRAINT [PK_EmpleadoXEvento] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC,
	[id_evento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EmpleadoXEvento] ([idEmpleado], [id_evento]) VALUES (3, 44)
INSERT [dbo].[EmpleadoXEvento] ([idEmpleado], [id_evento]) VALUES (3, 45)
INSERT [dbo].[EmpleadoXEvento] ([idEmpleado], [id_evento]) VALUES (3, 50)
/****** Object:  Table [dbo].[BebidaXEvento]    Script Date: 01/16/2018 01:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BebidaXEvento](
	[id_bebida] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
 CONSTRAINT [PK_BebidaXEvento] PRIMARY KEY CLUSTERED 
(
	[id_bebida] ASC,
	[id_evento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BebidaXEvento] ([id_bebida], [id_evento]) VALUES (1, 54)
INSERT [dbo].[BebidaXEvento] ([id_bebida], [id_evento]) VALUES (1, 55)
INSERT [dbo].[BebidaXEvento] ([id_bebida], [id_evento]) VALUES (1, 61)
/****** Object:  ForeignKey [FK_Plato_TipoMenu]    Script Date: 01/16/2018 01:11:31 ******/
ALTER TABLE [dbo].[Plato]  WITH CHECK ADD  CONSTRAINT [FK_Plato_TipoMenu] FOREIGN KEY([id_tipoMenu])
REFERENCES [dbo].[TipoMenu] ([id_TipoMenu])
GO
ALTER TABLE [dbo].[Plato] CHECK CONSTRAINT [FK_Plato_TipoMenu]
GO
/****** Object:  ForeignKey [FK_Per_Per_Permiso]    Script Date: 01/16/2018 01:11:31 ******/
ALTER TABLE [dbo].[Per_Per]  WITH CHECK ADD  CONSTRAINT [FK_Per_Per_Permiso] FOREIGN KEY([Cod_Padre])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[Per_Per] CHECK CONSTRAINT [FK_Per_Per_Permiso]
GO
/****** Object:  ForeignKey [FK_Per_Per_Permiso1]    Script Date: 01/16/2018 01:11:31 ******/
ALTER TABLE [dbo].[Per_Per]  WITH CHECK ADD  CONSTRAINT [FK_Per_Per_Permiso1] FOREIGN KEY([Cod_Hijo])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[Per_Per] CHECK CONSTRAINT [FK_Per_Per_Permiso1]
GO
/****** Object:  ForeignKey [FK_Control_Language]    Script Date: 01/16/2018 01:11:31 ******/
ALTER TABLE [dbo].[IdiomaControl]  WITH CHECK ADD  CONSTRAINT [FK_Control_Language] FOREIGN KEY([LANG_ID])
REFERENCES [dbo].[Idioma] ([LANG_ID])
GO
ALTER TABLE [dbo].[IdiomaControl] CHECK CONSTRAINT [FK_Control_Language]
GO
/****** Object:  ForeignKey [FK_Cliente_Localidad]    Script Date: 01/16/2018 01:11:31 ******/
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Localidad]
GO
/****** Object:  ForeignKey [FK_Usuario_Empleado]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO
/****** Object:  ForeignKey [FK_TipoMenuXCatering_Catering]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[TipoMenuXCatering]  WITH CHECK ADD  CONSTRAINT [FK_TipoMenuXCatering_Catering] FOREIGN KEY([id_Catering])
REFERENCES [dbo].[Catering] ([id_catering])
GO
ALTER TABLE [dbo].[TipoMenuXCatering] CHECK CONSTRAINT [FK_TipoMenuXCatering_Catering]
GO
/****** Object:  ForeignKey [FK_TipoMenuXCatering_TipoMenu]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[TipoMenuXCatering]  WITH CHECK ADD  CONSTRAINT [FK_TipoMenuXCatering_TipoMenu] FOREIGN KEY([id_TipoMenu])
REFERENCES [dbo].[TipoMenu] ([id_TipoMenu])
GO
ALTER TABLE [dbo].[TipoMenuXCatering] CHECK CONSTRAINT [FK_TipoMenuXCatering_TipoMenu]
GO
/****** Object:  ForeignKey [FK_BebidaXCatering_Bebida]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[BebidaXCatering]  WITH CHECK ADD  CONSTRAINT [FK_BebidaXCatering_Bebida] FOREIGN KEY([id_bebida])
REFERENCES [dbo].[Bebida] ([id_bebida])
GO
ALTER TABLE [dbo].[BebidaXCatering] CHECK CONSTRAINT [FK_BebidaXCatering_Bebida]
GO
/****** Object:  ForeignKey [FK_BebidaXCatering_Catering]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[BebidaXCatering]  WITH CHECK ADD  CONSTRAINT [FK_BebidaXCatering_Catering] FOREIGN KEY([id_catering])
REFERENCES [dbo].[Catering] ([id_catering])
GO
ALTER TABLE [dbo].[BebidaXCatering] CHECK CONSTRAINT [FK_BebidaXCatering_Catering]
GO
/****** Object:  ForeignKey [FK_UsuarioPermiso_Permiso]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Permiso] FOREIGN KEY([ID])
REFERENCES [dbo].[Permiso] ([ID])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Permiso]
GO
/****** Object:  ForeignKey [FK_UsuarioPermiso_Usuario]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Usuario]
GO
/****** Object:  ForeignKey [FK_PlatoXCatering_Catering]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[PlatoXCatering]  WITH CHECK ADD  CONSTRAINT [FK_PlatoXCatering_Catering] FOREIGN KEY([id_catering])
REFERENCES [dbo].[Catering] ([id_catering])
GO
ALTER TABLE [dbo].[PlatoXCatering] CHECK CONSTRAINT [FK_PlatoXCatering_Catering]
GO
/****** Object:  ForeignKey [FK_PlatoXCatering_Plato]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[PlatoXCatering]  WITH CHECK ADD  CONSTRAINT [FK_PlatoXCatering_Plato] FOREIGN KEY([id_plato])
REFERENCES [dbo].[Plato] ([id_plato])
GO
ALTER TABLE [dbo].[PlatoXCatering] CHECK CONSTRAINT [FK_PlatoXCatering_Plato]
GO
/****** Object:  ForeignKey [FK_Bitacora_Usuario]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
/****** Object:  ForeignKey [FK_Evento_Catering]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Catering] FOREIGN KEY([id_catering])
REFERENCES [dbo].[Catering] ([id_catering])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Catering]
GO
/****** Object:  ForeignKey [FK_Evento_Cliente]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Cliente]
GO
/****** Object:  ForeignKey [FK_Evento_EstadoEvento]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_EstadoEvento] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadoEvento] ([id_estado])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_EstadoEvento]
GO
/****** Object:  ForeignKey [FK_IngredienteXPlato_Ingrediente]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[IngredienteXPlato]  WITH CHECK ADD  CONSTRAINT [FK_IngredienteXPlato_Ingrediente] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id_ingrediente])
GO
ALTER TABLE [dbo].[IngredienteXPlato] CHECK CONSTRAINT [FK_IngredienteXPlato_Ingrediente]
GO
/****** Object:  ForeignKey [FK_IngredienteXPlato_Plato]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[IngredienteXPlato]  WITH CHECK ADD  CONSTRAINT [FK_IngredienteXPlato_Plato] FOREIGN KEY([id_plato])
REFERENCES [dbo].[Plato] ([id_plato])
GO
ALTER TABLE [dbo].[IngredienteXPlato] CHECK CONSTRAINT [FK_IngredienteXPlato_Plato]
GO
/****** Object:  ForeignKey [FK_PlatoXEvento_Evento]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[PlatoXEvento]  WITH CHECK ADD  CONSTRAINT [FK_PlatoXEvento_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[PlatoXEvento] CHECK CONSTRAINT [FK_PlatoXEvento_Evento]
GO
/****** Object:  ForeignKey [FK_PlatoXEvento_Plato]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[PlatoXEvento]  WITH CHECK ADD  CONSTRAINT [FK_PlatoXEvento_Plato] FOREIGN KEY([id_plato])
REFERENCES [dbo].[Plato] ([id_plato])
GO
ALTER TABLE [dbo].[PlatoXEvento] CHECK CONSTRAINT [FK_PlatoXEvento_Plato]
GO
/****** Object:  ForeignKey [FK_EmpleadoXEvento_Empleado]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[EmpleadoXEvento]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoXEvento_Empleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[EmpleadoXEvento] CHECK CONSTRAINT [FK_EmpleadoXEvento_Empleado]
GO
/****** Object:  ForeignKey [FK_EmpleadoXEvento_Evento]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[EmpleadoXEvento]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoXEvento_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[EmpleadoXEvento] CHECK CONSTRAINT [FK_EmpleadoXEvento_Evento]
GO
/****** Object:  ForeignKey [FK_BebidaXEvento_Bebida]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[BebidaXEvento]  WITH CHECK ADD  CONSTRAINT [FK_BebidaXEvento_Bebida] FOREIGN KEY([id_bebida])
REFERENCES [dbo].[Bebida] ([id_bebida])
GO
ALTER TABLE [dbo].[BebidaXEvento] CHECK CONSTRAINT [FK_BebidaXEvento_Bebida]
GO
/****** Object:  ForeignKey [FK_BebidaXEvento_Evento]    Script Date: 01/16/2018 01:11:32 ******/
ALTER TABLE [dbo].[BebidaXEvento]  WITH CHECK ADD  CONSTRAINT [FK_BebidaXEvento_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[BebidaXEvento] CHECK CONSTRAINT [FK_BebidaXEvento_Evento]
GO
